<Configuration status="INFO">
    <Properties>
        <Property name="log-path">./log</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="C:/Users/VR075131/IdeaProjects/Practice-Codes/Logger/mylog.log" filePattern="C:/Users/VR075131/IdeaProjects/Practice-Codes/Logger/mylog-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p]\t%m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="32" />
        </RollingFile>


        <Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout>
                <pattern>%n%d{yyyy-MM-dd HH:mm:ss.SSS} [%p]\t%m</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="mylog" level="debug" additivity="false">
            <appender-ref ref="RollingFile" level="DEBUG" />
            <appender-ref ref="STDOUT" level="DEBUG" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="RollingFile"/>
        </Root>

    </Loggers>
</Configuration>